<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Add a secret</title>
</head>
<body>
<div class="container mt-5">
    <form th:action="@{/add}" method="post" th:object="${secret}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" th:field="*{title}"  class="form-control" id="title" placeholder="Enter title">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('title')}" th:text="${err}"></small>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" th:field="*{content}"  id="content" placeholder="Content"></textarea>
            <small class="form-text text-danger" th:each="err : ${#fields.errors('content')}" th:text="${err}"></small>
        </div>
        <button type="submit" class="btn btn-primary">Save my secret</button>
    </form>
</div>
</body>
</html>
