<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:insert="blocks/header"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Info
        </div>
        <div class="card-body">
            <h5 class="card-title">A bit about you)</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>
<div th:insert="blocks/footer"></div>
</body>
</html>