<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div th:insert="blocks/header"></div>
<div class="container-md mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading" th:text="${details.title}"></h4>
        <p th:text="${details.content}"></p>
        <hr>
        <p class="text-secondary mb-0" th:text="${details.dateOfCreating}"></p>
        <br>
        <a class="btn btn-outline-dark" href="/show">Back</a>
        <a class="btn btn-warning" th:href=" '../edit/' + ${details.id} ">Edit a bit</a>
        <a class="btn btn-danger" th:href=" '../delete/' + ${details.id} " id="delete">DELETE QUICKLY</a>
        <br>
    </div>
</div>
<div th:insert="blocks/footer"></div>
</body>
</html>